node_modules
/dist
/target
/pkg
/wasm-pack.log


# Added by cargo
#
# already existing elements were commented out

#/target


# Added by cargo
#
# already existing elements were commented out

#/target
/Cargo.lock
