html, body, #menu, #bg { width:100%; height:100%; margin: 0; padding: 0; overflow: hidden;}
@font-face { font-family: game-font; src: url('game-font.ttf'); }
#bg {
    background-color: black;
}
#canvas {
    position: absolute;
}
#menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#menu {
    background-color: transparent;
    font-family: game-font;
    color: white;
}
#name {
    margin-bottom: 20px;
    margin-top: 20px;
}
#input-label {
    font-size: 0.8em;
    padding: 5px;
    border-radius: 7px;
}
#play-button {
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 10px;
    font-family: game-font;
    font-size: 1.2em;
    border-color: white;
    color: white;
    border-size: 3px;
}

#play-button:disabled {
    color: gray;
    border-color: gray;
}
